*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;

}
#grid-container{
  width: 802px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: 1px solid black;
}



.child{
 
}

/*let child = document.createElement("div");
  child.classList.add("child");
   let blya = gridContainer.appendChild(child);
   blya.style.height = shit;
   blya.style.width = shit;*/